/*Based*/
body{
    position: relative;
    width: 1600px;
    height: 2058px;
    margin: 0;
}

ul{
    list-style-type: none;
}

/*Header*/
.nav-panel{
    position: absolute;
    width: 1200px;
    height: 48px;

}
    /*Nav*/
.nav{
    position: absolute;
    width: 1920px;
    height: 900px;
    left: 0px;
    top: 0px;
    background-image: url("img/header-bg.svg");
    background-size: 100%;
}
.nav-logo{
    position: absolute;
    width: 31px;
    height: 48px;
    left: 216px;
    top: 57px;
}

.nav-home{
    position: absolute;
    width: 35px;
    height: 21px;
    left: 316px;
    top: 71px;
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #FFFFFF;
}

.nav-about {
    position: absolute;
    width: 39px;
    height: 21px;
    left: 391px;
    top: 71px;
    
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;

    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #FFFFFF;
}

.nav-tickets{
    position: absolute;
    width: 49px;
    height: 21px;
    left: 470px;
    top: 71px;
    
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;

    color: #FFFFFF;
}

.nav-contacts{
    position: absolute;
    width: 62px;
    height: 21px;
    left: 559px;
    top: 71px;
    
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #FFFFFF;
}

.nav-number{
    position: absolute;
    height: 25px;
    left: 1400px;
    top: 69px;
    
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: right;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-decoration: none;
    
    color: #FFFFFF;
}

/*Content*/

.content-title{
    position: absolute;
    height: 44px;
    left: 216px;
    top: 321px;
    
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 45px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.content-text{
    position: absolute;
    height: 147px;
    left: 213px;
    top: 290px;
    
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 151px;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.content-text-border{
    position: absolute;
    width: 191.48px;
    height: 22px;
    left: 23px;
    top: -9px;
    
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    
    color: #FFFFFF;
}

.border{
    box-sizing: border-box;

    position: absolute;
    width: 238px;
    height: 57px;
    left: 216px;
    top: 560px;
    
    border: 1px solid #FFFFFF;
}

/*Other*/

.other{
    box-sizing: border-box;

    position: absolute;
    width: 1164.01px;
    height: 243px;
}

.other-title{
    position: absolute;
    left: 216px;
    top: 980px;
    
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 75px;
    text-transform: uppercase;
    
    color: #000000;
}
    /*other-text*/
.other-text-One-Title{
    position: absolute;
    left: 215px;
    top: 1144px;
    
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    
    color: #000000;
}

.other-text-Two-Title{
    position: absolute;
    left: 815px;
    top: 1144px;
    
    font-family: 'Anton';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 38px;
    text-transform: uppercase;
    
    color: #000000;
}

.other-text-One-text{
    position: absolute;
    width: 564px;
    height: 146px;
    left: 215px;
    top: 1212px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    
    color: #000000;
}

.other-text-Two-text{
    position: absolute;
    width: 564px;
    height: 192px;
    left: 815px;
    top: 1212px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: justify;
    
    color: #000000;
}


.imgOne{
    position: absolute;
    width: 270px;
    height: 344px;
    left: 216px;
    top: 1471px;
}

.imgTwo{
    position: absolute;
    width: 270px;
    height: 344px;
    left: 515px;
    top: 1471px;
}

.imgThree{
    position: absolute;
    width: 570px;
    height: 344px;
    left: 815px;
    top: 1471px;
}

/*Footer*/

.credits{
    position: absolute;
    left: 216px;
    top: 1929px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    
    color: #000000;
}

.author{
    position: absolute;
    left: 515px;
    top: 1929px;
    
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    
    color: #000000;
}